-unless @meetings.today_before.blank?
  - @meetings.today_before.each.with_index(1) do |meeting, i| 
    .meeting__container--inner
      = i
      .meeting__container__one
        .meeting-name
          = meeting.name
        ・日付:
        %span #{meeting.start_time.strftime("%m月%d日")}
        %br
        ・開始時間:
        %span #{meeting.start_time.hour}
        時〜
        %br
        ・所要時間: 
        %span #{meeting.time_required}
        分