= form_for @meeting do |f|
  - if @meeting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meeting.errors.count, "error")} prohibited this meeting from being saved:"
      %ul
        - @meeting.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :タイトル
    = f.text_field :name, placeholder: "メロンパン"
  .field
    = f.label :詳細
    = f.text_area :content ,placeholder: "初心者の方にもおすすめ！比較的簡単につくれますよ！"
  .field
    = f.label :所要時間
    = f.number_field :time_required , value: 120
    %span 分
  .field
    = f.label :予約最大人数
    = f.number_field :max_reservations ,value: 5
    %span 人
  .field
    = f.label :start_time
    = f.datetime_select :start_time,{default: Date.new("#{params[:year]}".to_i, "#{params[:month]}".to_i,"#{params[:day]}".to_i)+ 19.hour}
  .actions
    = f.submit 'Save',class: "meeting--btn"
