.article_main--container--title
  %p
    = article.title
.article_main--container--date  
  #{article.created_at.month}/#{article.created_at.day}(#{%w(日 月 火 水 木 金 土)[article.created_at.wday]})　#{article.created_at.hour}:#{article.created_at.min} 
.article_main--container--content
  = article.content