.article
  .article--title
    %h1 ぶろぐ！！
- if user_signed_in?
  - if current_user.admin?
    = link_to '新しくブログを作る！！！', new_article_path,class: "article--container--btn"
- if user_signed_in?
  - if current_user.admin?
    - @articles.each do |article|
      .article--container
        = render partial: "articles/container", locals: { article: article } 
        .like--btn{ id: "lile--btn--#{article.id}" } 
          = render partial: "articles/like", locals: { article: article } 
        .tweet-btn
          = render partial: "articles/twetter", locals: { article: article } 
        = link_to '詳細', article_path(article),class: "article--container--btn"    
        = link_to '編集する！', edit_article_path(article),class: "article--container--btn"
        = link_to '消しちゃう！', article, method: :delete, data: { confirm: 'ほんとに消してええか?' },class: "article--container--btn"
  - else
    - @articles.each do |article|
      .article--container
        = render partial: "articles/container", locals: { article: article } 
        .like--btn{ id: "lile--btn--#{article.id}" } 
          = render partial: "like", locals: { article: article } 
        .tweet-btn
          = render partial: "articles/twetter", locals: { article: article } 
- else   
  - @articles.each do |article|
    .article--container
      = render partial: "articles/container", locals: { article: article } 
      .like--btn--signout
        = icon("far", "heart")   
        いいね！ #{article.likes.count}
      .tweet-btn
        = render partial: "articles/twetter", locals: { article: article } 
.nav-links      
  = paginate @articles 