%h1.article_index--title ぶろぐ！！

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - if user_signed_in?
      - if current_user.admin?
        - @articles.each do |article|
          %tr
            %td= article.title
            %td= link_to 'Show', article
            %td= link_to 'Edit', edit_article_path(article)
            %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }
      - else
        - @articles.each do |article|
          %tr
            %td= article.title
            %td= link_to 'Show', article
    - else   
      - @articles.each do |article|
        %tr
          %td= article.title
          %td= link_to 'Show', article

%br
- if user_signed_in?
  - if current_user.admin?
    = link_to 'New Article', new_article_path
  - else  
- else 
