.article
  .article_main
    .article_main--title
      %h1 ぶろぐ！！
    - if user_signed_in?
      - if current_user.admin?
        = link_to '新しくブログを作る！！！', new_article_path,class: "article_main--container--btn"
    - if user_signed_in?
      - if current_user.admin?
        - @articles.each do |article|
          .article_main--container
            .article_main--container--title
              %p
                = article.title
            .article_main--container--date  
              #{article.created_at.month}/#{article.created_at.day}(#{%w(日 月 火 水 木 金 土)[article.created_at.wday]})　#{article.created_at.hour}:#{article.created_at.min} 
            .article_main--container--content
              = article.content
            = link_to '編集する！', edit_article_path(article),class: "article_main--container--btn"
            = link_to '消しちゃう！', article, method: :delete, data: { confirm: 'ほんとに消してええか?' },class: "article_main--container--btn"
      - else
        - @articles.each do |article|
          .article_main--container
            .article_main--container--title
              %p
                = article.title
            .article_main--container--date  
              #{article.created_at.month}/#{article.created_at.day}(#{%w(日 月 火 水 木 金 土)[article.created_at.wday]})　#{article.created_at.hour}:#{article.created_at.min} 
            .article_main--container--content
              = article.content
    - else   
      - @articles.each do |article|
        .article_main--container
          .article_main--container--title
            %p
              = article.title
          .article_main--container--date  
            #{article.created_at.month}/#{article.created_at.day}(#{%w(日 月 火 水 木 金 土)[article.created_at.wday]})　#{article.created_at.hour}:#{article.created_at.min}     
          .article_main--container--content
            = article.content
    .nav-links      
      = paginate @articles 