.bread
  %ul
    %li
      = render_breadcrumbs :separator => '</li><li>' 
= link_to "生徒さんとのメッセージ一覧", groups_path,class: "header-menu__right"
%h2 
  予約一覧
-unless @meetings.today_before.blank?
  - @meetings.today_before.each.with_index(1) do |meeting, i| 
    .meeting__container--inner
      = i
      .meeting__container__one
        .meeting-name
          = meeting.name
        ・日付:
        %span #{meeting.start_time.strftime("%m月%d日")}
        %br
        ・開始時間:
        %span #{meeting.start_time.hour}
        時〜
        %br
        ・所要時間: 
        %span #{meeting.time_required}
        分
        %br  
        ・予約人数:
        %span  #{meeting.users.count}
        人  
        %br 
        - if meeting.content.present?
          .meeting__container--content
            %p  
              = meeting.content
        %ul  
          現在予約している方
          - meeting.users.each do |user| 
            %li 
              #{user.familyname} #{user.firstname} さん
              - if user.coupon_use
                (クーポン利用の方)
%h2 
  生徒一覧
- @users.each.with_index(1) do |user,i|
  = i
  %p
    ニックネーム: #{user.nickname}さん
  %p
    #{user.familyname} #{user.firstname}さん
  %p
    #{user.familyname_kana} #{user.firstname_kana}さん
  %p
    電話番号: #{user.phone_number}
  %p
    email: #{user.email} 
    