.mypage--title
  %h1
    管理人と#{@group.user.nickname}さんのチャットルーム！
.schedules__comments
  - if user_signed_in?
    = link_to "コメント履歴消去", destroy_all_group_comments_path(current_user.id), method: :delete   ,id: "comment--destroy_all" ,class:"btn btn-outline-danger"
    .schedules__comments__form    
      = form_with(model:[@group ,@comment], local: true) do |form|
        = form.text_area :content , placeholder: "コメントしてみて！" ,class: "schedules__comments__form--area"
        = form.submit "送信！" ,class: "schedules__comments__form--btn"
  .schedules__comments__list
    - @comments.each do |comment|
      - if comment.user.admin?
        .schedules__comments__list__box.admin--comment{data: {comment: {id: comment.id}}}
          .schedules__comments__list__box--name.admin--comment--name
            #{comment.user.nickname}さん
            %span のこめんと  
          .schedules__comments__list__box--comment.admin--comment--comment
            = comment.content  
          .schedules__comments__list__box--date 
            #{comment.created_at.month}/#{comment.created_at.day}(#{%w(日 月 火 水 木 金 土)[comment.created_at.wday]})　#{comment.created_at.hour}:#{comment.created_at.min}   
          - if current_user == comment.user
            = link_to "| 削除",group_comment_path(current_user.id,comment.id) ,method: :delete ,class: "schedules__comments__list__box--btn"
      - else 
        .schedules__comments__list__box{data: {comment: {id: comment.id}}}
          .schedules__comments__list__box--name  
            #{comment.user.nickname}さん
            %span のこめんと  
          .schedules__comments__list__box--comment
            = comment.content  
          .schedules__comments__list__box--date    
            #{comment.created_at.month}/#{comment.created_at.day}(#{%w(日 月 火 水 木 金 土)[comment.created_at.wday]})　#{comment.created_at.hour}:#{comment.created_at.min}
          - if current_user == comment.user
            = link_to "| 削除",group_comment_path(current_user.id,comment.id) ,method: :delete ,class: "schedules__comments__list__box--btn"