.schedules
  .schedules__calendar
    %iframe{src: "https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FTokyo&amp;src=Znd5a2t5YnJuZzIyQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;showNav=1&amp;showDate=1&amp;showPrint=1" }
  .schedules__comments
    .schedules__comments--list
      - @comments.each do |comment|
        = comment.text
        = comment.user.name
    .schedules__comments--form    
      = form_with(model:@comment, local: true) do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2" 
        = form.submit "送信する！" 