.schedules
  .schedules__calendar
    %iframe{src: "https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23F6BF26&amp;ctz=Asia%2FTokyo&amp;src=Znd5a2t5YnJuZzIyQGdtYWlsLmNvbQ&amp;color=%23039BE5&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0" }
  .schedules__comments
    - if current_user
      .schedules__comments__form    
        = form_with(model:@comment, local: true) do |form|
          = form.text_area :content , placeholder: "コメントしてみて！" ,class: "schedules__comments__form--area"
          = form.submit "送信！" ,class: "schedules__comments__form--btn"
    .schedules__comments__list
      - @comments.each do |comment|
        .schedules__comments__list__box
          .schedules__comments__list__box--name  
            #{comment.user.nickname}さん
            %span のこめんと  
          .schedules__comments__list__box--comment
            = comment.content    