確認
#{@meeting.name}
.meeting__container__one
  .meeting-name
    開始時間: #{@meeting.start_time.hour}時〜
    %br
    所要時間: #{@meeting.time_required}分
    .meeting__container--content
      %p  
        = @meeting.content
= link_to "予約する！",  meeting_reservations_path(@meeting.id), method: :post,class: "reservations-create--btn"
