.home 
  .main
    .main__mypage--left
      .mypage
        .mypage__messege
          %h1
            先生とのメッセージはこちら！
          = link_to group_path(@group.id),class: "mypage__messege--btn" do
            = icon("fas","chevron-right")
            チャットルーム
        .mypage__reservations
          %h1
            予約確認
          = link_to reservation_confirmation_index_path,class: "mypage__messege--btn" do
            = icon("fas","chevron-right")
            チャットルーム  
    .main__mypage--right
      = yield