%header
  .top-container
    %h1{class:"top-container__name"} ğ•“ğ•£ğ•–ğ•’ğ••-ğ•“ğ•’ğ•œğ•šğ•Ÿğ•˜-ğ•”ğ•ğ•’ğ•¤ğ•¤
    %p{class:"top-container__content"} è‡ªå®…ã§ãƒ‘ãƒ³ãƒ¬ãƒƒã‚¹ãƒ³ã¯ã˜ã‚ã¾ã—ãŸï¼ã©ãªãŸã§ã‚‚ãŠæ°—è»½ã«ã©ã†ãï¼
  - if user_signed_in?
    - if current_user.admin?
      .header-menu
        %ul
          %li= link_to "Home", home_index_path ,class: "header-menu__right"
          %li= link_to "Lessonå†…å®¹",lesson_index_path,class: "header-menu__right"
          %li= link_to "ãƒ–ãƒ­ã‚°", articles_path, class: "header-menu__right"
          %li= link_to "ãƒ¬ãƒƒã‚¹ãƒ³äºˆç´„", meetings_path ,class: "header-menu__right"
          %li= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path,method: :delete,class: "header-menu__right"
          %li= link_to "å…ˆç”Ÿã®ãƒã‚¤ãƒšãƒ¼ã‚¸",admin_reservation_confirmation_index_path,class: "header-menu__right"
    - else
      .header-menu
        %ul
          %li= link_to "Home", home_index_path ,class: "header-menu__right"
          %li= link_to "Lessonå†…å®¹",lesson_index_path,class: "header-menu__right"
          %li= link_to "ãƒ–ãƒ­ã‚°", articles_path, class: "header-menu__right"
          %li= link_to "ãƒ¬ãƒƒã‚¹ãƒ³äºˆç´„", meetings_path ,class: "header-menu__right"
          %li= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path,method: :delete,class: "header-menu__right"
          %li= link_to "#{current_user.nickname}ã•ã‚“ã®ãƒã‚¤ãƒšãƒ¼ã‚¸", reservation_confirmation_index_path,class: "header-menu__right"
  - else
    .header-menu
      %ul
        %li= link_to "Home", home_index_path ,class: "header-menu__right"
        %li= link_to "Lessonå†…å®¹",lesson_index_path,class: "header-menu__right"
        %li= link_to "ãƒ–ãƒ­ã‚°",articles_path , class: "header-menu__right"
        %li= link_to "ãƒ¬ãƒƒã‚¹ãƒ³äºˆç´„", meetings_path ,class: "header-menu__right"
        %li= link_to "æ•™å®¤ã®ç”Ÿå¾’ã•ã‚“ã¯ã“ã¡ã‚‰(æ–°è¦ç™»éŒ²)", new_user_session_path,class: "header-menu__right"  