.home 
  .main
    .main__mypage--left
      .mypage
        = link_to reservation_confirmation_index_path,class: "mypage--btn" do
          %span
            予約確認
          = icon("fas","chevron-right")
        = link_to group_path(@group.id),class: "mypage--btn" do
          %span
            先生とのメッセージはこちら！
          = icon("fas","chevron-right")
    .main__mypage--right
      = yield