!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BreadBakingClass
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    = render partial: "layouts/header"
    = render partial: "layouts/admin"
    :erb
      <% if flash.any? %>
        <script type="text/javascript">
          <% flash.each do |key, value| %>
            <% key = "success" if key == "notice" %>
            <% key = "error" if key == "alert" %>
            toastr['<%= key %>']('<%= value %>');
          <% end %>
        </script>
      <% end %>