!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BreadBakingClass
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .top-container
        %h1{class:"top-container__name"} ğ•“ğ•£ğ•–ğ•’ğ••-ğ•“ğ•’ğ•œğ•šğ•Ÿğ•˜-ğ•”ğ•ğ•’ğ•¤ğ•¤
        %p{class:"top-container__content"} è‡ªå®…ã§ãƒ‘ãƒ³ãƒ¬ãƒƒã‚¹ãƒ³ã¯ã˜ã‚ã¾ã—ãŸï¼ã©ãªãŸã§ã‚‚ãŠæ°—è»½ã«ã©ã†ãï¼
      - if user_signed_in?
        .header-menu
          %ul
            %li= link_to "Home", home_index_path ,class: "header-menu__right"
            %li= link_to "Lessonå†…å®¹",lesson_index_path,class: "header-menu__right"
            %li= link_to "ãƒ–ãƒ­ã‚°", articles_path, class: "header-menu__right"
            %li= link_to "ãŠå•ã„åˆã‚ã›", new_contact_path,class: "header-menu__right"
            %li= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path,method: :delete,class: "header-menu__right"
            %li= link_to "ã‚¹ã‚±ã‚¸ãƒ¥ãƒ¼ãƒ«", schedules_path ,class: "header-menu__right"
            %li= link_to current_user.name, "#",class: "header-menu__right"
      - else
        .header-menu
          %ul
            %li= link_to "Home", home_index_path ,class: "header-menu__right"
            %li= link_to "Lessonå†…å®¹",lesson_index_path,class: "header-menu__right"
            %li= link_to "ãƒ–ãƒ­ã‚°",articles_path , class: "header-menu__right"
            %li= link_to "ãŠå•ã„åˆã‚ã›", new_contact_path,class: "header-menu__right"
            %li= link_to "æ•™å®¤ã®ç”Ÿå¾’ã•ã‚“ã¯ã“ã¡ã‚‰", new_user_session_path,class: "header-menu__right"  
    = yield